<!doctype html>
<html>
	<head>
		<title>New Entry</title>
		<link href="catalog.css" type="text/css" rel="stylesheet"/>'
	</head>
	<body>
		<h1>New Entry</h1>
		<div class="entry-form">
			<form id="upload-entry-form" action = "" method="POST" enctype="multipart/form-data">
				<label for="entryName">
					Name:
					<input type="text" name="entryName">
				</label>
				<label for="entryDescription">
					Description:
					<input type="text" name="entryDescription">
				<label for="entryImage">
					Image:
					<input type="file" name="entryImage">
				<label for="Upload-Entry">
					Add to Catalog
					<input type="submit" name="Upload-Entry">
				</label>
			</form>
		</div>
	</body>
</html>